.floating-icons {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	overflow: hidden;
}

@keyframes spinning {
	from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

//
// Gloopy
// http://codepen.io/lbebber/pen/razrxv
//

.gloopy {
  filter:url("#fancy-goo");
  width: 100%;
  height: 100%;
}


// left block, main one
.rect {
    width: 100px;
    height: 100%;
    background: #f9ed32;
    position: absolute;
    left: calc(30% - 100px);
    top: 0;
}

@keyframes rect-anim-right{
  0%{
    transform: translate(0, 0) rotate(0);
  }
  100%{
    transform: translate(100vw, 60vh) rotate(90deg);
  }
}


.rect+.rect{
  height:50px;
  width: 50px;
  margin-top:100px;
  animation:rect-anim-right cubic-bezier(0.34, 0.01, 0.74, 0.71) 10s infinite alternate;
  &:before {
  	content: ' ';
  	position: absolute;
  	background: #ffffff;
	height: 20px;
	width: 20px;
	left: 15px;
	top: 15px;
	border-radius: 5px;
  }
}

.circle {
	// necessary
	animation: rect-anim-right cubic-bezier(0.34, 0.01, 0.74, 0.71) 10s infinite alternate;
	background: #f9ed32;
	position: absolute;
	left: calc(30% - 100px);
	// shape
	height: 100px;
	width: 100px;
	border-radius: 50%;
	// just to position away from the others
	margin: 300px 0 0 0;
	&:before {
		content: ' ';
		position: absolute;
		background: #ffffff;
		height: 60px;
		width: 60px;
		border-radius: 50%;
		left: 20px;
		top: 20px;
	}
}

.triangle {
	// necessary
	animation: rect-anim-right cubic-bezier(0.34, 0.01, 0.74, 0.71) 10s infinite alternate;
	background: #f9ed32;
	position: absolute;
	left: calc(30% - 100px);
	// shape
	height: 100px;
	width: 100px;
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	margin: 400px 0 0;
	&:before {
		content: ' ';
		position: absolute;
		height: 60px;
		width: 60px;
		top: 30px;
		left: 20px;
		background: #fff;
		clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	}
}

.eye-svg {
	position: absolute;
	animation: rect-anim-right cubic-bezier(0.34, 0.01, 0.74, 0.71) 10s infinite alternate;
	fill: #f9ed32;
	width: 175px;
	height: 175px;
	left: calc(30% - 100px);
	top: 200px;
}

// can use clip paths

// maybe just use svg