.floating-icons {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	overflow: hidden;
	svg {
		position: absolute;
		animation: diagonal-slide 5s;
		fill: #f9ed32;
		width: 100%;
	}
	svg.svg-triangle {
		position: absolute;
		animation: diagonal-slide2 5s, spinning 2s;
		fill: #f9ed32;
		width: 100%;
	}
}

// https://codepen.io/anon/pen/BWbdKR
@keyframes diagonal-slide {
  0% {
    transform: translate(20px, 10px);
    animation-timing-function: ease-out;
  }
  80% {
  	opacity: 1;
  	animation-timing-function: ease-in;
  }
  100% {
    transform: translate(100%, 100%);
    opacity: 0;
    animation-timing-function: ease-out;
  }
}

@keyframes diagonal-slide2 {
  0% {
    transform: translate(0, 80%);
    animation-timing-function: ease-out;
  }
  80% {
  	opacity: 1;
  	animation-timing-function: ease-in;
  }
  100% {
    transform: translate(100%, 20%);
    opacity: 0;
    animation-timing-function: ease-out;
  }
}

@keyframes spinning {
	from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

//
// Gloopy
// http://codepen.io/lbebber/pen/razrxv
//

.gloopy {
  filter:url("#fancy-goo");
  width: 100%;
  height: 100%;
}


// left block, main one
.rect {
    width: 100px;
    height: 100%;
    background: #f9ed32;
    position: absolute;
    left: calc(30% - 100px);
    top: 0;
}

@keyframes rect-anim-right{
  0%{
    transform: translate(0, 0) rotate(0);
  }
  100%{
    transform: translate(100vw, 60vh) rotate(90deg);
  }
}


.rect+.rect{
  height:100px;
  margin-top:100px;
  animation:rect-anim-right cubic-bezier(0.34, 0.01, 0.74, 0.71) 10s infinite alternate;
}
