.floating-icons {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	svg {
		position: absolute;
		animation: diagonal-slide 5s;
		fill: #f9ed32;
		width: 100%;
	}
	svg.svg-triangle {
		position: absolute;
		animation: diagonal-slide2 5s, spinning 2s;
		fill: #f9ed32;
		width: 100%;
	}
}

// https://codepen.io/anon/pen/BWbdKR
@keyframes diagonal-slide {
  0% {
    transform: translate(20px, 10px);
    animation-timing-function: ease-out;
  }
  80% {
  	opacity: 1;
  	animation-timing-function: ease-in;
  }
  100% {
    transform: translate(100%, 100%);
    opacity: 0;
    animation-timing-function: ease-out;
  }
}

@keyframes diagonal-slide2 {
  0% {
    transform: translate(0, 80%);
    animation-timing-function: ease-out;
  }
  80% {
  	opacity: 1;
  	animation-timing-function: ease-in;
  }
  100% {
    transform: translate(100%, 20%);
    opacity: 0;
    animation-timing-function: ease-out;
  }
}

@keyframes spinning {
	from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

//
// Gloopy
//

.gloopy {
  filter:url("#fancy-goo");
  width: 100%;
  height: 100%;
}

.rect+.rect{
  height:150px;
  margin-top:-75px;
  animation:rect-anim-right ease-in-out 2s infinite alternate;
}

// left block, main one
.rect {
    width: 100px;
    height: 100%;
    background: #f9ed32;
    position: absolute;
    left: calc(30% - 100px);
    top: 0;
}

@keyframes rect-anim-left{
  0%{
    transform:translateX(-10px);
  }
  100%{
    transform:translateX(-60px);
  }
}
.rect{
  // animation:rect-anim-left ease-in-out 2s infinite alternate;
}
@keyframes rect-anim-right{
  0%{
    transform:translateX(0);
  }
  100%{
    transform:translateX(200px);
  }
}
.rect+.rect{
  height:150px;
  margin-top:-75px;
  animation:rect-anim-right ease-in-out 2s infinite alternate;
}
