<!-- credit: http://colinkeany.com/fake-browser/ -->
<div class="browserView">
    <div class="browser">
        <div class="browserWrap">
            <div class="topBar">
                <ul id="browserDots">
                    <li class="close"></li>
                    <li class="maximize"></li>
                    <li class="minimize"></li>
                </ul>
                <i class="fa fa-expand"></i>
                <div class="clearfix"></div>
            </div>
            <div class="addressBar">
                <div class="tab">
                    Your Awesome Website
                    <span class="xDot"></span>
                    <span class="tabCorner left"></span>
                    <span class="tabCorner right"></span>
                </div>
                <ul id="browserNav">
                    <li><i class="fa fa-arrow-left"></i></li>
                    <li><i class="fa fa-arrow-right"></i></li>
                    <li><i class="fa fa-refresh"></i></li>
                    <div class="clearfix"></div>
                </ul>
                <span class="addressLine">
                    <i class="fa fa-star"></i>
                </span>
                <i class="fa fa-bars navAlt"></i>
            </div>
            <div class="browserContent">
                
            </div>
        </div>
    </div>
</div>