<div class="portfolio__container">
  <div class="portfolio">
    {% include "browser.html" %}
    <div class="porfolio__projects">
      {% for project in projects %}
      <div class="project" data-project-id="{{ project.id }}">
        <div class="project__name">
          {{ project.name }}
        </div>
        <div class="project__type">
          {{ project.type }}
        </div>
        <div class="project__date">
          {{ project.date }}
        </div>
        <div class="project__description">
          {% for paragraph in project.detail %}
            <p>{{ paragraph }}</p>
          {% endfor %}
        </div>
        <div class="project__underline"></div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
