<div class="portfolio">
	<div class="portfolio__images">
		{% for project in projects %}
		<div class="project__images" data-project-id="{{ project.id }}">
			<div class="project__image">
				{% for image in project.images %}
					<img src="{{ image.url }}" alt="{{ image.alt }}">
				{% endfor %}
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="porfolio__projects">
		{% for project in projects %}
		<div class="project" data-project-id="{{ project.id }}">
			<div class="project__name">
				{{ project.name }}
			</div>
			<div class="project__type">
				{{ project.type }}
			</div>
			<div class="project__date">
				{{ project.date }}
			</div>
			<div class="project__description">
				{% for paragraph in project.detail %}
					{{ paragraph }}
				{% endfor %}
			</div>
		</div>
		{% endfor %}
	</div>
</div>