.about {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 900px;
}

.about__container {
	padding: 60px;
}

.introduction {
	margin: 0 0 60px;
	font-size: 18px;
}

.contact__cta {
	padding: 15px;
    border: 1px solid;
    border-bottom: 3px solid;
    display: inline-block;
    transition: background 0.5s, color 0.5s, border 0.5s;
    font-weight: 400;
    &:hover {
    	background: #4136AD;
    	color: #f4f5f7;
    	cursor: pointer;
    	a {
    		color: #f4f5f7;
    	}
    }
    a {
    	letter-spacing: 1px;
    }
}