.skills {
	min-height: 100%;
	display: flex;
}

.skills__container {
	padding: 60px;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	border: 1px solid;
	transition: border-radius 1s;
	// overflow: hidden;
}

.skill {
	margin: 30px;
	width: calc(33.333333% - 30px);
	height: calc(25% - 60px);
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid;
	box-sizing: border-box;
	transition: margin 1s, border-radius 1s;
	text-align: center;
	padding: 15px;
	background: #f4f5f7;
	position: relative;
	// &:before {
	//     content: ' ';
	//     position: absolute;
	//     width: 868px;
	//     height: 868px;
	//     background: #4136a1;
	//     transition: transform 1s;
	//     transform: scale(0.01);
	//     border-radius: 100%;
	// }
	// &:hover {
	// 	background: #4136AD;
	// 	color: #f4f5f7;
 // 		&:before {
 // 			transform: scale(1);
 // 		}
	// }
}

.skill__infomation {
	display: none;
}

.skill--fixed {
	position: absolute;
	width: 33.333333%;
    height: 25%;
    // full size
    height: 100%;
    width: 100%;
}	