.skills {
	min-height: 100%;
	display: flex;
	max-width: 900px;
	padding: 60px;
	box-sizing: border-box;
}

.skills__border {
	border: 1px solid;
	transition: border-radius 1s;
	overflow: hidden;
	// need translate to stop glitching
	transform: translate(0, 0);
	backface-visibility: hidden;
}

.skill {
	position: absolute;
	transform: translate(0, 0);
	// transition: transform 1s, border-radius 1s;
	transition: transform 1s, height 1s, width 1s, top 1s, left 1s, border-radius 1s, background 0.3s;
	padding: 15px;
	background: #fff;
	text-align: center;
	border: 1px solid;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	// chill the browser out by forcing less complex animations
	backface-visibility: hidden;
	-webkit-font-smoothing: subpixel-antialiased;
	&:hover {
		background: #4136AD;
		color: #fff;
	}
	&.clicked {
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		transform: translate(0, 0);
		background: #4136AD;
		color: #fff;
		border: 0;
		.skill__name {
			top: 0%;
			transform: translate(-50%, -100%);
		}
 		.skill__infomation {
 			opacity: 1;
 			visibility: visible;
 			transform: translateY(0);
 			display: block;
 		}
	}
}

.skill__content {
	max-width: 300px;
	position: absolute;	
}

.skill__name {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 100%;
    transition: transform 1s 0.5s, top 1s 0.5s;
}

.skill__infomation {
	transform: translateY(100%);
	opacity: 0;
	transition: transform 1s 0.5s, opacity 1s 0.5s;
}
